.header {
    padding: 12px 24px;
    
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.05);

    box-sizing: border-box;

    background-color: rgba(245, 247, 250, 0.8);

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(10px);
}

.languages {
    display: flex;
    flex-direction: row;
    gap: 12px;

    &__button {
        padding: 4px;

        width: 28px;
        aspect-ratio: 1;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        border: 0;

        background-color: rgba(212, 212, 212, 0.315);

        cursor: pointer;

        &:hover span {
            scale: 1.1;
        }

        &:not(:first-child) {
            &::before {
                content: '';

                position: absolute;
                left: -7px;

                width: 2px;
                height: 100%;

                background-color: rgb(66, 31, 31);
            }
        }
    }

}

.logOut {
    margin-left: auto;

    width: 32px;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    background-color: transparent;

    cursor: pointer;

    &:hover {
        box-shadow: inset 0 1px 2px #0000009d;
    }
}