.header {
    padding: 12px 24px;
    
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.05);

    box-sizing: border-box;

    background-color: rgba(245, 247, 250, 0.8);

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(10px);

    &__main {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    &__logo {
        max-width: 32px;
        aspect-ratio: 1;
    }

    &__title {
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: 500;
    }
}

.languages {
    margin-left: 24px;

    display: flex;
    flex-direction: row;
    gap: 12px;
    
    &__button {
        padding: 4px;

        width: 28px;
        aspect-ratio: 1;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        border: 0;
        border-radius: 4px;

        background-color: rgba(212, 212, 212, 0.315);

        cursor: pointer;

        &:hover span {
            scale: 1.1;
        }

        &:not(:first-child) {
            &::before {
                content: '';

                position: absolute;
                left: -7px;

                width: 2px;
                height: 100%;

                background-color: rgb(66, 31, 31);
            }
        }
    }

}

.logOut {
    margin-left: 32px;

    width: 32px;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    background-color: transparent;

    cursor: pointer;

    &:hover {
        box-shadow: inset 0 1px 2px #0000009d;
    }
}

.userInfo {
    margin-left: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    &__login {
        font-size: 18px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
    }

    &__logo {
        width: 24px;
        aspect-ratio: 1;

        border: 0;

        outline: 0;
    }
}