.fieldWrap {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.errors {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__error {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        svg {
            width: 12px;
            aspect-ratio: 1;
        }

        span {
            font-size: 12px;
            color: red;
        }
    }
}