.formWrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    background-color: #fff;

    border-radius: 1rem;

    &__title {
        position: relative;

        padding: 24px 24px 48px 24px;

        width: 100%;
        height: 40px;

        border-radius: 1rem 1rem 0 0;

        box-sizing: border-box;

        color: rgb(49, 49, 49);
        font-size: 18px;
        line-height: 125%;
        font-weight: 500;

        background-color: rgba(139, 139, 139, 0.329);

        &::after {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 1px;

            background-color: rgb(63, 63, 63);
        }
    }

    &__content {
        padding: 24px;

        position: relative;

        height: 100%;

        box-sizing: border-box;

        overflow-y: auto;
    }

    &__footer {
        padding: 36px 24px;

        position: relative;

        height: 40px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 24px;

        box-sizing: border-box;

        border-radius: 0 0 1rem 1rem;

        background-color: rgba(139, 139, 139, 0.329);

        &:before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 1px;

            background-color: rgb(63, 63, 63);
        }
    }
}