.testCases {
    width: 100%;

    &__case {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }
}

.createButton {
    margin-left: auto;

    min-width: 200px;
}
.status {
    margin-left: auto;
}