.navbar {
    padding: 8px 16px;

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;

    box-sizing: border-box;

    border-bottom: 2px solid #c6cef12c;
}

.link {
    font-size: 16px;
    font-weight: 400;

    color: #535353;
    text-decoration: none;

    &:hover {
        color: rgb(34, 34, 34);
    }

    &__active {
        color: rgb(0, 0, 0);

        text-decoration-line: underline;
        text-decoration-color: rgb(25, 48, 48);
        text-underline-offset: 5px;
        
        font-weight: 500;
    }
}