.link {
    margin: 4px 0 0 auto;

    border: 0;

    background-color: transparent;

    color: rgba(24, 87, 112, 0.788);
    font-size: 12px;

    text-decoration: none;

    cursor: pointer;

    &:hover {
        color: rgb(24, 87, 112);
    }
}