.authForm {
    padding: 30px;

    min-width: 360px;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    box-sizing: border-box;

    border: 2px solid rgba($color: #3a353525, $alpha: 0.3);
    border-radius: 10px;

    background-color: #2c3e5048;

    box-shadow: 
        inset 0 10px 10px -5px rgba(255, 255, 255, 0.8), 
        0 10px 15px -5px rgba(128, 128, 128, 0.6) ;
}