.cell {
    padding: 4px 8px;

    word-wrap: break-word;

    &:not(:first-child) {
        border-left: 1px solid rgb(88, 88, 88);
    }

    &__actions {
        text-align: end;
    }
}

.actionButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    
    &__button {
        cursor: pointer;

        &:first-child {
            margin-left: auto;
        }
    }
}