.widgetContainer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(2px);
}

.spinnerContainer {
    padding: 20px;

    align-self: center;
    justify-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 40px;
    aspect-ratio: 1;

    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;           
    border-radius: 50%;                   

    animation: spin 1s linear infinite;    
}

/* Описание анимации вращения */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
