.widgetContainer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    
}

.spinnerContainer {
    align-self: center;
    justify-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border-radius: 50%;
    border-width: 2px 2px 0 0;

    transition: all 3s ease-in-out;
}