.button {
    padding: 8px;

    border: 0;
    border-radius: 8px;

    outline: none;

    cursor: pointer;

    &:hover {
        box-shadow: inset 0 0 2px #000;
    }
}

.GENERAL {
    background-color: #288fbbee;
}

.SECONDARY {
    background-color: rgba(237, 241, 252, 0.815);
}