.filtersContainer {
    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    box-sizing: border-box;

    background-color: #fff;

    border-radius: 0.5rem;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;

    >div {
        flex-grow: 1;
    }
}

.resetButton {
    margin-left: auto;
}