.inputContainer {
    position: relative;
}

.label {
    margin-left: 4px;

    letter-spacing: 0.07rem;

    white-space: pre-wrap;
}

.input {
    margin-top: 4px;
    padding: 8px 12px;

    width: 100%;
    height: 40px;

    color: #2D3436;

    border: 1px solid #2D3436;
    border-radius: 8px;

    outline: none;

    box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.02);

    background-color: rgba($color: #f8f8f8, $alpha: 1);

    transition: border-color 0.2s, box-shadow 0.2s;

    &:focus-visible {
        background-color: rgba($color: #f8f8f8, $alpha: 0.6);
        border-color: #4A69BD;
        background-color: #FFFFFF;
        box-shadow: 0 4px 12px rgba(74, 105, 189, 0.1);
    }

    &::placeholder {
        color: #95A5A6;
    }
}

.peek {
    position: absolute;
    bottom: 8px;
    right: 12px;

    width: 18px;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    background-color: transparent;

    cursor: pointer;
}