.inputContainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    >div {
        width: 100%;
    }
}

.stepButton {
    cursor: pointer;

    &__add {
        margin-left: auto;
    }

    &__remove {
        margin-top: 24px;
    }
}