.label {
    display: flex;
    align-items: center;

    cursor: pointer;
    user-select: none;

    box-sizing: border-box;

    &:hover .checkBox ~.checkMark {
        border-color: #B2BEC3;
    }
}

.checkBox {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~.checkMark {
        background-color: #2890bb;
        border-color: #B2BEC3;
    }

    &:checked ~.checkMark::after {
        display: block;
    }
}

.checkMark {
    margin-right: 10px;

    position: relative;

    height: 20px;
    width: 20px;

    background-color: #FFFFFF;

    border: 1px solid #D1D8E0;
    border-radius: 4px;

    transition: all 0.2s ease;

    &::after {
        content: "";

        position: absolute;
        left: 6px;
        top: 2px;

        width: 5px;
        height: 10px;

        display: none;

        border: solid white;
        border-width: 0 2px 2px 0;

        transform: rotate(45deg);
    }
}