* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100dvw;
  height: 100dvh;

  background-image: linear-gradient(135deg, #FDFBFB 0%, #EBEDEE 100%);
  
  overflow-x: hidden;
}

label, button, input, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;

    user-select: none;
}

button {
  outline: none;
}

main {
  background-color: transparent;
}