* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100dvw;
  height: 100dvh;

  overflow-x: hidden;
}

label, button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
}